<head>
    <link rel="stylesheet" href="css/all.css">
    <link rel="apple-touch-icon" sizes="180x180" href="./favicon_io/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="./favicon_io/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="./favicon_io/favicon-16x16.png">
<link rel="manifest" href="./favicon_io/site.webmanifest">
  </head>
  <style>
    *{
      padding: 0;
      margin: 0;
    }
    div{
    transform: translateX(-50% -50%);}
    .order-header{
      display: inline-flex;
      box-shadow: 0px 2px 5px;
      width: 100%;
      padding-top: 10px;
      height: 40px;
    }
  .arrow{
    height: 30px;
   margin: 1 10px;
   border: none;
   background-color: transparent;
   font-size: large;
  }
  
  </style>
  <div >
  <div class="order-header">
    <button class="arrow">
      <i class="fa-solid fa-arrow-left"></i>
  </button>
    <h2>messages</h2>
  </div>
  <div class="Orders">
    
  </div>
    
  </div>