<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PAYMENT</title>
</head>
<style>
  body{
    background-color: black;
    color: orange;
  }
  button{
    margin: 5px;
    width: 100px;
    height: 30px;
    background-color: orange;
    font-size: 20px;
    font-weight: bold;
    margin-left: 50%;
  }
  input{
    height: 30px;
    font-size: 25px;
    margin: 0;

  }
  label{
    font-size: large;
    font-weight: bold;
  }
  .form-group{
    display: flex;
    flex-direction: column;
  }
</style>
<body>
  <form id="paymentForm">
    <div class="form-group">
      <label for="email">Email Address</label>
      <input type="email" id="email-address" required />
    </div>
    <div class="form-group">
      <label for="amount">Amount</label>
      <input type="tel" id="amount" required />
    </div>
    <div class="form-group">
      <label for="name">First Name</label>
      <input type="text" id="name" name="name" />
    </div>
    <div class="form-group">
      <label for="Address">Home Address</label>
      <input type="address" id="Address" name="address"/>
    </div>
    <div class="form-group">
      <label for="phone">Phone No</label>
      <input type="tel" id="phone" name="phone"/>
    </div>
    <div class="form-submit">
      <button type="submit" onclick="payWithPaystack()"> Pay </button>
    </div>
  </form>
  <script >const paymentForm = document.getElementById('paymentForm');
    console.log(paymentForm);
    paymentForm.addEventListener("submit", payWithPaystack, false);
    function payWithPaystack(e) {
      e.preventDefault();
    
      let handler = PaystackPop.setup({
        key: 'pk_test_6b7e9fa059c45bdfcf58e4bf7d0081dc7e984ea0', // Replace with your public key
        email: document.getElementById("email-address").value,
        amount: document.getElementById("amount").value * 100,
        ref: ''+Math.floor((Math.random() * 1000000000) + 1), // generates a pseudo-unique reference. Please replace with a reference you generated. Or remove the line entirely so our API will generate one for you
        // label: "Optional string that replaces customer email"
        onClose: function(){
          alert('Window closed.');
        },
        callback: function(response) {
          window.location.href= "http://localhost:3004/verify_transaction?reference=" + response.reference;
        }
      });
    
      handler.openIframe();
    }</script>
  <script src="https://js.paystack.co/v1/inline.js"></script> 

</body>
</html>